

/*Main background */

#scene_21 html {


    background: url(images/gobrikbackgroundtop.png) center top repeat-x;

    box-sizing: border-box;

}

html {


    background: url(images/gobrikbackgroundtop.png) center top repeat-x;

    box-sizing: border-box;
  margin-top: 3px;
}


@media screen and (min-width: 980px) {
#knack-body {
 text-align: center !important;

    padding-bottom: 50px ;
  
  
  background:  url(images/desktop-background2.png) center bottom no-repeat !important;
  background-size: 100% !important;
/*
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px;
background-position-y: 10px !important;  }*/


#footer {   

display: none !important;
margin-top: 300px;
  
color:#A9CDD8;
  font-size: 11px;
  margin-right: 12px;
  margin-left: 12px;
  line-height: 1.5em;
  margin-bottom: 0px;
font-family: 'ubuntu',Arial, Helvetica Neue, Helvetica, sans-serif;
}


  
 }

@media screen and (min-width: 700px) and (max-width: 979px) {
#knack-body {
text-align: center !important;

    padding-bottom: 50px !important;
  	font-size: 16px;
  
  background:  url(images/desktop-background2.png) center bottom no-repeat !important;
  background-size: 100% !important;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px
background-position-y: 10px !important; 

  
  }

#footer {   margin-top: 350px;
  
display: none !important;
color:#A9CDD8;
  font-size: 11px;
  margin-right: 0px;
  margin-left: 0px;
  line-height: 1.5em;
  margin-bottom: 20px;
font-family: 'ubuntu',Arial, Helvetica Neue, Helvetica, sans-serif;
}

}

@media screen and (min-width: 100px) and (max-width: 699px) {
#knack-body {
  text-align: center !important;
    padding-bottom: 50px !important;
  background:  url(images/mobile-background.png) center bottom no-repeat !important;
  background-size: 100% !important; 
margin-right: 0px;
margin-left: 0px; 
margin-top: 0px;
background-position-y: 120px; 

  }

#footer {   
  display: none;
color:#A9CDD8;
  font-size: 11px;
  margin-right: 0px;
  margin-left: 0px;
  line-height: 1.5em;
  margin-bottom: -45px;
margin-top: 20px;
font-family: 'ubuntu',Arial, Helvetica Neue, Helvetica, sans-serif;
}

}

/* General Settings */


p {
	font-family: 'ubuntu',Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
  /*text-align: center;*/

	line-height: 1.5em;

}

b {	font-weight: 400;}

strong {font-weight: 400;}


h1 {
	font-size: 18px !important;
	font-family: 'ubuntu', Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif
  /*padding-bottom: 0px !important;*/
      text-align: center !important;
}

h2 {
	font-size: 26px !important;
    font-family: 'Arvo', Arial Black, Arial Bold, Gadget, sans-serif;
    text-align: center !important;
    /*padding-left: 1px !important;    
  padding-right: 1px !important;
    padding-top: 0px !important;
  margin-top: -5px !important;
  margin-bottom: 0px !important;*/
}

h3 {
	font-size: 19px;
          font-family: 'Arvo', Georgia, serif;
    line-height: 1.2em !important;
   /* padding-left: 10px !important;    
  padding-right: 10px !important;*/

}

h4 {
	font-size: 18px !important;
	font-family: 'ubuntu', Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    text-align: center !important;
          line-height: 1.4 !important;
   /* padding-left: 7px !important;    
  padding-right: 7px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;*/

}

h5 {
	font-size: 32px !important;
    font-family: 'Arvo', serif;
    text-align: center !important;
  line-height: 32px !important
    /*padding-left: 1px !important;    
  padding-right: 1px !important;
    padding-bottom: 0px !important;
      padding-top: 0px !important;*/

}

h6 {
	font-size: 12px !important;
	font-family: 'ubuntu', Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
      text-align: center !important;
	line-height: 1.5em;

}




html {
  height: 100%;
}
body {
  min-height: 100%;
}



#knack-body a{
  text-align: left;
}



#header {  
display: block;
margin-top: 10px;
}


#footer a:link {
  
color:#C3E0EC;
  
}




