

 
.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
	 }

#footer-full {
    width: 100%;
    margin-top:20px;
    z-index: -1;
  display: block;
  text-align: center;
  background: #b4428e;
  bottom: 0px;
  position: absolute;
  }
  
  
  
  .row {  
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  
  /* Main column */
  
  @media screen and (min-width: 700px) {
    .virtue {
      flex: auto;
      padding: 15px;
      box-sizing: border-box;
    }
    }
    
    @media screen and (max-width: 700px) {
    .virtue {
      flex: 100%;
      box-sizing: border-box;
    }
    }


p {
   font-family: 'Inter', sans-serif;
}

#loading-box {
	min-height: 100vh;
	width: 100%;
	}	


	@media screen and (min-width: 1000px) {
		#loading-box {
		margin-bottom: -15vh;
	}
}
@media screen and (max-width: 999px) {
	#loading-box   {
		margin-bottom: 14vh;}
}	


#container {
   min-height:100%;
   position:relative;
}	 
	
#header {padding: 30px 30px 20px 30px;
background: #b4428e;
}

#kn-app-header {
background: #b4428e;
font-family: 'Inter', sans-serif;
font-weight: 600;

}

.motto {
   font-family: 'Fjalla One', sans-serif;
   font-size: 1.5em;
   text-align: right;
   color: white;
   padding-top: 30px;
   padding-right: 20px;
}

.fine-print  {
   font-family: 'Inter', sans-serif;
   color: white;
   text-align: right;
   font-size: 1.0em;
   padding-top: 10px;
   padding-right: 20px;
   font-weight: 200;
}

.fine-print a {
   color: white;
   text-decoration: underline;
}

.fine-print a:hover {
   color: white;
   text-decoration: none;
}
		/*

		.loader { 
	z-index: 1;	
	position: fixed;
 	 left: 0px;
 	 top: 0px;
 	 width: 100%;
 	 height: 90%;
  	z-index: 99;
  	background: url('svgs/spiral-loader.svg') center no-repeat;
    	box-sizing: border-box;
	 background-size: 100px;
	-webkit-animation-delay: 0s !important;
	opacity:0;
	-webkit-animation:fadeIn ease-in 0.3s;
	-webkit-animation-duration:0.3s;
	-webkit-animation-fill-mode:forwards;

  animation-delay: 0s; 
  animation: fadeIn ease-in 0.3s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;*/
}



